@font-face {
    font-family: Lovelo_Black;    
    src: url('../fonts/Lovelo_Black.otf');
}
@font-face {
    font-family:MODERNE_SANS ;    
    src: url('../fonts/MODERNE_SANS.ttf');
}
@font-face {
    font-family:Nexa ;    
    src: url('../fonts/Nexa_Bold.otf');
}